* {
  user-select: none;
}

.heart {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--bubble-color);
  transform: rotate(-45deg);
  animation: heartFloat 1s ease-out forwards;
  z-index: 9999;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--bubble-color);
  border-radius: 50%;
}

.heart::before {
  top: -5px;
  left: 0;
}

.heart::after {
  left: 5px;
  top: 0;
}

/* Bubbly */
.bubbly-button {
  font-family: "Helvetica", "Arial", sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 10px;
  margin-bottom: 60px;
  background-color: var(--button-color);
  color: var(--font-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: visible;
  transition: transform 0.1s ease-in, box-shadow 0.25s ease-in;
  box-shadow: 0 2px 25px var(--button-border-fade);
}

.bubbly-button:focus {
  outline: none;
}

.bubbly-button:active {
  transform: scale(0.9);
  background-color: var(--button-color-when-clicked);
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}

.bubbly-button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

/* Floating animation */
@keyframes heartFloat {
  0% {
    transform: translateY(0) scale(1) rotate(-45deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-100px) scale(1.5) rotate(-45deg);
    opacity: 0;
  }
}
