.heart {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--bubble-color);
  transform: rotate(-45deg);
  animation: heartFloat 1s ease-out forwards;
  z-index: 9999;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--bubble-color);
  border-radius: 50%;
}

.heart::before {
  top: -5px;
  left: 0;
}

.heart::after {
  left: 5px;
  top: 0;
}

/* Floating animation */
@keyframes heartFloat {
  0% {
    transform: translateY(0) scale(1) rotate(-45deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-100px) scale(1.5) rotate(-45deg);
    opacity: 0;
  }
}
