* {
  user-select: none;
}

:root {
  --button-color: #ff0081;
  --button-color-when-clicked: #ff0081;
  --bubble-color: #ff0081;
  --font-color: #fff;
  --button-border-fade: rgba(255, 0, 130, 0.5);
}

body {
  font-size: 16px;
  font-family: "Helvetica", "Arial", sans-serif;
  text-align: center;
  background-color: #f8faff;
}

.bubbly-button {
  font-family: "Helvetica", "Arial", sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 100px;
  margin-bottom: 60px;
  background-color: var(--button-color);
  color: var(--font-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: visible;
  transition: transform 0.1s ease-in, box-shadow 0.25s ease-in;
  box-shadow: 0 2px 25px var(--button-border-fade);
}

.bubbly-button:focus {
  outline: none;
}

.bubbly-button:active {
  transform: scale(0.9);
  background-color: var(--button-color-when-clicked);
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}

/* Individual bubble */
.bubble {
  position: absolute;
  background-color: var(--bubble-color);
  border-radius: 50%;
  pointer-events: none;
  animation: bubbleFloat 1s ease-out forwards;
  z-index: 9999;
}

/* Floating animation */
@keyframes bubbleFloat {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-100px) scale(1.5);
    opacity: 0;
  }
}
